<!-- service -->

<section class="section">
  <div class="row">
    <div class="col-lg-6 mx-auto text-center">
      <h2 class="subtitle is-3">{{ .title | markdownify }}</h2>
    </div>
  </div>



  {{ range $i,$p := .items }}
    {{if modBool $i 2}}

      <div class="row" style="background-color: darkblue">
        <div class="col-lg-6 col-sm-12">
          <section class="section text-light mx-5">     
            <h3 class="h3 text-light text-right">{{ .name | markdownify }}</h3>
            <p class="text-white text-right">{{ .description | markdownify }}</p>
            {{ with .button }}
              <a href="{{ .link | relURL }}" title="{{ .label }}" class="btn btn-primary my-4">{{ .label }}</a>
            {{ end }}
          </section>

        </div>

        <div class="col-lg-6 col-sm-12">
          <img src="{{ .image | relURL }}" alt="slider image" class="py-2">
        </div>
      </div>


    {{ else }}

      <div class="row" style="background-color: aliceblue;">

        <div class="col-lg-6 col-sm-12 text-right">
          <img src="{{ .image | relURL }}" alt="slider image" class="py-2">
        </div>

        <div class="col-lg-6 col-sm-12">
          <section class="section ">        
            <h3 class="h3 text-dark">{{ .name | markdownify }}</h3>
            <p class="text-dark">{{ .description | markdownify }}</p>
            {{ with .button }}
              <a href="{{ .link | relURL }}" title="{{ .label }}" class="button is-primary mt-4">{{ .label }} 
                <svg  viewBox='0 0 448 512' height='50px' fill='white'><path d='M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z'/></svg>
              </a>
            {{ end }}
          </section>
        </div>
      </div>
    
    {{ end }}  
  {{ end }}

</div>