<footer class="section pb-0" style="background-color: darkblue; color: white">
  <div class="container">
    <div class="row border-bottom pb-5 justify-content-between">
      <div class="col-lg-5 col-sm-12">
<!--         <h6 class="font-weight-medium mb-4">Important Links</h6> -->
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
          <li class="mb-3"><a style="color: white" class="text-color" href="{{ .URL | absURL }}"><small>{{ .Name }}</small></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-5 col-sm-12">
        <h6 class="font-weight-medium mb-4" style="color: white">Connect With Us</h6>
        <ul class="list-unstyled mb-5">
          {{ with .Site.Params.mobile }}
          <li class="mb-3"><a style="color: white" class="text-color" href="tel:{{ . }}">

            <svg width='15' fill='white' viewBox='0 0 320 512'><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d='M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z'/></svg>
            <small>{{ . }}</small></a>
          </li>
          {{ end }}
          {{ with .Site.Params.phone }}
          <li class="mb-3"><a style="color: white" class="text-color" href="tel:{{ . }}">
            <svg fill='white' width='15' viewBox='0 0 512 512'><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d='M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z'/></svg>


            <!-- <i class="ti-mobile text-primary mr-2" style="color: white !important"></i> -->
            <small>{{ . }}</small></a>
          </li>
          {{ end }}          
          <li class="mb-3">
            <a class="text-color" style="color: white !important" href="mailto:{{ .Site.Params.email }}">
            <svg width='15' fill='white' viewBox='0 0 512 512'><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d='M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z'/></svg>
            <small>{{ .Site.Params.email }}</small></a>
          </li>
          {{ with .Site.Params.location }}
            <li class="mb-3"><svg width='15' fill='white' viewBox='0 0 384 512'><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d='M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z'/></svg>
              <small>{{ . }}</small>
            </li>
          {{ end }}          
        </ul>
        <!-- social icon -->
        <ul class="list-inline">
          {{ range .Site.Params.social }}
          <li class="list-inline-item">
            <a href="{{ .link | safeURL }}">
              {{ .icon | safeHTML }}
              <small style="color: white">{{ .link | safeURL }}</small>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-2 col-sm-12">
        <a href="{{ .Site.BaseURL }}">
          <img src="{{ .Site.Params.logofooter | absURL }}" class="img-fluid" alt="{{ .Site.Title }}">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center py-4">
        <small>{{ .Site.Params.copyright | markdownify  }}</small>
      </div>
    </div>
  </div>
</footer>

{{ "<!-- Google Map API -->" | safeHTML }}
  <script src="{{ .Site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
  <script src="{{ .URL | absURL }}"></script>
{{ end }}

<!-- snipcart -->

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<!-- 
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ .Site.Params.googleAnalitycsID }}', 'auto');
  ga('send', 'pageview');
</script> -->

<!--Start of Tawk.to Script
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/60eed2dbd6e7610a49ab3c35/1faiefb5d';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
End of Tawk.to Script-->


<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c74f373a726ff2eea5975b7/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

