{{ define "main" }}

{{ partial "page-title.html" . }}


<section class="section pt-0">
  <div class="container">
    <form action="{{ .Site.Params.contact.formAction }}" method="POST">
      <input type="text" class="form-control mb-2" id="name" name="email[name]" placeholder="Your Name">
      <input type="email" class="form-control mb-2" id="email" name="email[email]" placeholder="Your Email">
      <textarea name="email[content]" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
      <input name="email[address]" id="source" type="hidden" value="{{ .Permalink }}">            
      <button type="submit" value="send" class="btn btn-block btn-outline-primary rounded">Send Now</button>
    </form>


    <div class="p-4 content">
      {{ .Content }}
    </div>

  </div>
</section>

{{ partial "cta2.html" . }}

{{ end }}
