// Color Variables#
// $primary-color: #00B883;
$primary-color: #008be3;
$text-color: #333333;
$text-color-dark: #222222;
$body-color: antiquewhite;
$border-color: #D1D1D1;
$black: #000;
$white: #fff;
$light: rgb(223, 223, 223);

// $primary-gradient: linear-gradient( 27deg, rgb(255,127,80) 0%, rgb(255,165, 0) 100%);
$primary-gradient: linear-gradient( 27deg, rgb(120,150,200) 0%, rgb(50,100,200) 100%);
// Font Variables
$primary-font: 'Quicksand', sans-serif;
$icon-font: 'themify';